/*estilos plataforma festival offlimits*/
* {
   outline: 1px solid brown;
}

// altura menus
.h_14 {
  display: block;
  height: 14.2%;
}

.translate_heroscreen,
.translate_festival_header {
  transform: translateY( -100%);
}
