/*estilos plataforma festival offlimits*/
* {
  //  outline: 1px solid brown;
}

* img {
  background-color: gray;
}
// altura menus
.h_14 {
  display: block;
  height: 14.2%;
}

.altura-servicios {
  display: block;
  height: 16.66%;
}

.altura-actividad {
  display: block;
  height: 29%;
}
