/*estilos plataforma festival offlimits*/
* {
  //  outline: 1px solid brown;
}

* img {
  background-color: gray;
}
// altura menus
.h_14 {
  display: block;
  height: 14.2%;
}

.altura-servicios {
  display: block;
  height: 16.66%;
}

.altura-actividad {
  display: block;
  height: 29%;
}



/****** LAYOUT ******/


/****** COLORES ******/

html, body {
   background-color: #000;
   color: white;
}


.fa, a {

   color: #FE5000;

   &:hover {
      color: #ED4000;
   }

}

// colores dispolibles productos
.color-producto-negro {
  background-color: black;
}
.color-producto-gris {
  background-color: gray;
}
.color-producto-azul {
  background-color: blue;
}
.color-producto-rojo {
  background-color: red;
}
